<!DOCTYPE html>
<html>
<head>
  <title>Leverageassessments</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
  <%= favicon_link_tag 'leverage_assesments_logo_stolen.jpg' %>
</head>
<body>

<%= yield %>

</body>
</html>
